body {
    font-family: "PT Sans Caption", sans-serif;
    background: #f7ecde;
}

h1 {
    font-family: "Pacifico", cursive;
    font-size: 50px;
    color: #352e28;
    isolation: isolate;
}

.Text h2 {
    font-family: "Righteous", sans-serif;
    background-image: linear-gradient(to right, #3ca55c, #b5ac49);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}


h1::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 25%;
    left: 0;
    bottom: 10px;
    background-color: #fec260;
    transition: height 350ms;
    z-index: -1;
}

h1:hover::before {
    height: 50%;
}


.rules li {
    font-size: 18px;
    padding-top: 10px;
}

.rules i {
    color: #bb4120;
}

.circles span {
    display: block;
    width: 20px;
    height: 20px;
}

.circles span:nth-child(1) {
    background-color: #f15f5d;
}

.circles span:nth-child(2) {
    background-color: #febe2e;
}

.circles span:nth-child(3) {
    background-color: #4db748;
}